<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h2>Categories</h2>
      <ul *ngFor="let tag of tags" class="nav nav-pills nav-stacked">
        <li (click)="gotoCategory(tag)" role="presentation"><a>{{tag.title}}</a></li>
      </ul>
    </div>

    <div class="col-md-5">
      <div class="list-group" *ngFor="let post of posts">
        <a class="list-group-item">
          <span (click)="deletePost(post)" class="glyphicon glyphicon-remove delete-post" aria-hidden="true"></span>
          <h4 class="list-group-item-heading">{{post.title}}</h4>
          <a class="post-like" (click)="addLike(post)">
              <span class="glyphicon glyphicon-heart" aria-hidden="true">
              </span>{{post.likes}} </a>
          <a class="post-comments">
            <span class="glyphicon glyphicon-comment">{{post.comments.length}}</span></a>
        </a>
      </div>
    </div>
  </div>
</div>
