.card-1 {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.page {
  width: 80%;
}

.categories{
  width: 20%;
  float: left;
}

.news{
  width: 60%;
  float: right;
  margin-right: 20%;
}

.post{
  margin-top: 20px ;
  height: auto;
  background-color: #FAFAD2;
}

h2 {
  text-align: center;
}

.post-title{
  margin: auto;
}

.post-like{
  text-decoration: none;
  cursor: pointer;
}
