<div class="container">
  <div class="row">
    <div class="panel panel-default" col-md-8>

      <!-- Default panel contents -->
      <div class="panel-heading">Best Posts</div>

      <!-- Table -->
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Likes</th>
        </tr>
        </thead>
        <tr *ngIf="post">
          <td>{{post.title}}</td>
          <td>{{post.likes}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>
