<div class="container">
  <div class="row">
    <div class="panel panel-default" col-md-8>

      <!-- Default panel contents -->
      <div class="panel-heading">Categories</div>

      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
        </tr>

        <tr *ngFor="let tag of tags; let num = index">
          <td>{{num + 1}}</td>
          <td>
            <a href="" (click)="gotoCategory(tag)">{{tag.title}}</a>
            <button class="btn btn-default btn-xs"
                    (click)="deleteTag(tag)"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        </thead>
      </table>
    </div>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input #tagTitle type="text" class="form-control" placeholder="New category">
      </div>
      <button type="submit" class="btn btn-default"
              (click)="createTag(tagTitle.value); tagTitle.value=''">Додати
      </button>
    </form>

  </div>
</div>
